@import 'woodland';

#performance > div {
  position: relative;
}

canvas {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.receiver,
.launcher {
  color: $active-color;
  text-align: center;
}

